.header {
  background-color: #006e33;
  // height: 50px;
  position: fixed;
  padding: 10px 0;
  width: 100%;
  z-index: 4;

  .cont {
    display: flex;
    color: #fff;
    justify-content: space-between;
    // background-color: red;
    margin: auto 0;

    .right {
      margin: auto 0;
      flex: 1 1 100px;
      display: flex;
      margin-left: 300px;
    }
    .left {
       flex: 1 1 100px;
       margin: auto 0;
    }
  }

  input {
    background-color: #fff;
    padding: 12px;
  }
}
