* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {

}

.app .pg {
   display: flex;
}

.app .pg .right {
    width: 100%;
   /* margin-left: 140px; */
   /* background-color: gray; */
}